#set($h1 = '#')
#set($h2 = '##')
#set($h3 = '###')
#set($h4 = '####')
<head>
    <title>Welcome to ${project.name}</title>
</head>
 
%{toc|section=2|fromDepth=2|toDepth=3}

$h1 Welcome to ${project.name} in version ${project.version}

## foo
### foo2